
<% include ./static/header %>
<body>
  <div id="index-background">
    <div class="row mt-5">
      <div class="col-md-3 m-auto">
        <div class="card card-body text-center">
          <h1><i class="icoSidebar fas fa-tractor"></i></h1>
          <p>Iniciar Sesion</p>
          <a href="/register" class="btn btn-primary btn-block mb-2"
            >Registrarse</a>
          <a href="/login" class="btn btn-success btn-block">Iniciar Sesion</a>
        </div>
      </div>
    </div>
    </div>
  
</body>


<% include ./static/footer%>