<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <container class="cuerpo">
          <form action="/addViaje" method="post">
            <br><br><br>
            
            <!-- <input type="text" id="id" name="id" placeholder="" value="<%=user.username;%>" hidden><br><br> -->
            
            <label for="semana">LLene el siguiente formulario</label><br>
            <label for="semana">Unos besillos?</label>
        <select name="Op">
          <option value="value1">si</option>
          <option value="value2">no</option>

        </select><br>
        <input type="date" id="Fecha" name="Fecha" placeholder="Fecha" value="" ><br><br>
        <input type="text" id="Lugar" name="Lugar" placeholder="Lugar" value="" ><br><br>
        <input type="text" id="Hora" name="Hora" placeholder="Hora" value="" ><br><br>
        <input type="text" id="Actividades" name="Actividades" placeholder="Confieseme algo chido" value="" ><br><br>
            <button type="submit" class="btn btn-primary">
              Confirmar 
            </button>
          </form>
        </container>
      </div>
</body>
</html>