

</div>

<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->



<!-- Footer View-->

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script type="text/javascript" src="/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/moment/min/moment.min.js"></script>

  <script type="text/javascript" src="/js-datepicker/dist/datepicker.min.js"></script>

<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.buttons.js"></script>
<script type="text/javascript" src="/js/libraries/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/js/libraries/datatables.buttons.html5.js"></script>

  <!-- Template Main JS File -->

<!-- Footer View-->
<!-- Footer-->
<!-- <script src="/resources/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/resources/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript" src="/resources/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/jvectormap-next/jquery-jvectormap.min.js"></script>
<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="/js/buttons.bootstrap4.js"></script> -->
<!-- Footer-->


<!-- <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/resources/datepickerBootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/moment//min/moment.min.js"></script> -->


</body>
</html>