
    
    <div id="sidebar" >
        <div class="toggle-btn">
            <span>&#9776;</span>
        </div>
        <ul>
        <li>
            <img src="./img/logo.jpeg" alt="Logotipo" class="logo" >
        </li>
        
        <li> <a href="/profile">Viajes</a></li>
        <li> <a href="/Diesel">Diesel</a></li>
        <li> <a href="/ver">Consultar</a></li>
        <%console.log(user.Tipo);
        if(user.Tipo ==='Admin'){%>
            <li > <a href="/admin">Administrador</a></li>
            <%}%>
          
        <li> <a href="/logout">Cerrar sesion</a></li>
          
      
        </ul>
            </div>
          
           
        <script src="./js/functions/main.js"></script>